[submodule "Assets/Resourses"]
	path = Assets/Resourses
	url = git@github.com:ArturYukhnenko/Resourses.git
[submodule "Assets/Scripts"]
	path = Assets/Scripts
	url = git@github.com:ArturYukhnenko/Scripts.git
